@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Calibri, sans-serif;
}

  /* Card Image */
  .res-logo {
    @apply w-full h-full object-cover rounded-t-lg;
  }
  
  /* Card Title */
  .card h3 {
    @apply mt-2 text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl;
  }
  
  /* Rating Text */
  .card h4:nth-of-type(1) {
    @apply text-sm text-gray-700 dark:text-gray-300 sm:text-base truncate;
  }





  /* Cart */
  .badge:after{
    content:attr(value);
    font-size:12px;
    color:light-dark(#fff,black) ;
    background: green;
    border-radius:50%;
    padding: 0 4px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
}

@media (max-width: 470px) {
  .badge:after{
    display: none;
}
}


/* Custom Scrollbar for Light Mode */
.cart-items-container::-webkit-scrollbar {
  width: 8px;
}

.cart-items-container::-webkit-scrollbar-track {
  background: #e5e7eb; /* Light gray background */
}

.cart-items-container::-webkit-scrollbar-thumb {
  background: #d1d5db; /* Darker gray thumb */
  border-radius: 4px;
}

/* Custom Scrollbar for Dark Mode */
.dark .cart-items-container::-webkit-scrollbar-track {
  background: #1f2937; /* Darker background for dark mode */
}

.dark .cart-items-container::-webkit-scrollbar-thumb {
  background: #4b5563; /* Light gray thumb for dark mode */
}



  